{% extends "::anonymous.html.twig" %}

{% block title %}{{ 'Login' | trans({}, 'FOSUserBundle') }}{% endblock %}

{% block content %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal" style="position: static; margin: 0 auto; display: block;">
                <div class="modal-header">
                    <h1 class="modal-title">
                        {{ 'Login' | trans({}, 'FOSUserBundle') }}
                        <small>{{ 'Provide your credentials to sign in.' | trans({}, 'ZymUserBundle') }}</small>
                    </h1>
                </div>

                <div class="modal-body">
                    {% if error %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span class="glyphicon glyphicon-minus-sign"></span>
                            {{ error }}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

                        <div class="col-md-9">
                            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

                        <div class="col-md-9">
                            <input class="form-control" type="password" id="password" name="_password" />
                        </div>
                    </div>

                    <div class="checkbox">
                        <div class="col-md-9 col-md-offset-3">
                            <label class="control-label" for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a style="float: left" class="btn btn-link" href="{{ path('fos_user_resetting_request') }}">Forgot your username or password?</a>
                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>
            </div
        </div>
    </div>
</form>
{% endblock %}

{% block inlineScripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            var username = $('#username');

            if (!username.val().length) {
                username.focus();
            } else {
                $('#password').focus();
            }
        });
    </script>
{% endblock %}