{% extends "ZymSecurityBundle::layout.html.twig" %}

{% block title %}{{ 'Delete Access Rule' | trans({}, 'ZymSecurityBundle') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    {{ 'Confirm Deletion' |trans({}, 'ZymSecurityBundle') }}
                    <small>{{ accessRule.path |e }}</small>
                </h1>
            </div>
        </div>
    </div>

    <p>
        You are about to delete <strong>"{{ accessRule.path |e }}"</strong>.
        This action cannot be undone.<br />
        <strong>Are you sure you want to proceed?</strong>
    </p>

    <form action="{{ path('zym_security_access_rules_delete', { 'id' : accessRule.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
        
        <fieldset class="form-actions">
            <input class="btn btn-danger" type="submit" value="{{ 'Delete' | trans }}" />
            <a class="btn btn-default" href="{{ path('zym_security_access_rules') }}" class="button">{{ 'Cancel' |trans({}, 'ZymSecurityBundle') }}</a>
        </fieldset>
    </form>
{% endblock %}