{% extends "::anonymous.html.twig" %}

{% block title %}{{ 'Recover Account' | trans({}, 'FOSUserBundle') }}{% endblock %}

{% block content %}
    <div class="modal" style="position: static; margin: 20px auto;">
        <div class="modal-header">
            <h2>
                {{ 'Recover Account' | trans({}, 'FOSUserBundle') }}
                <small>{{ 'Check your email.' | trans({}, 'ZymUserBundle') }}</small>
            </h2>
        </div>

        <div class="modal-body">
            <p>{{ 'resetting.check_email' |trans({ '%email%': email }, 'FOSUserBundle') }}</p>
        </div>

        <div class="modal-footer">
            <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">
                {{ 'Proceed to login' | trans({}, 'ZymUserBundle') }}
            </a>
        </div>
    </div>
{% endblock %}
