{% extends "ZymUserBundle::layout.html.twig" %}

{% block title %}{{ 'Groups' | trans({}, 'ZymUserBundle') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    {{ 'Groups' | trans({}, 'ZymUserBundle') }}
                    <small>{{ 'Manage groups' | trans({}, 'ZymUserBundle') }}</small>
                </h1>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default">
        <div class="navbar-collapse">
            <div class="btn-toolbar">
                <div class="btn-group">
                    {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\UserBundle\\Entity\\Group']) %}
                    <a class="btn btn-primary navbar-btn" href="{{ path('zym_user_groups_add') }}">
                        <span class="glyphicon glyphicon-plus"></span>
                        {{ 'Add Group' | trans({}, 'ZymUserBundle') }}
                    </a>
                    {% endif %}
                </div>

                <div class="btn-group">
                    <a class="btn btn-default navbar-btn" href="{{ path('zym_security_acl_roles') }}">
                        <span class="glyphicon glyphicon-user"></span>

                        {{ 'Roles' | trans({}, 'ZymUserBundle') }}
                    </a>
                    <a class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('zym_security_acl_roles_add') }}">
                                <span class="glyphicon glyphicon-plus"></span>
                                {{ 'Add Role' | trans({}, 'ZymUserBundle') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-stripe table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Roles</th>
                    <th>{{ 'Actions' | trans({}, 'ZymUserBundle') }}</th>
                </tr>
            </thead>

            <tbody>
                {% for group in groups %}
                <tr>
                    <td>{{ group.id |e }}</td>
                    <td>{{ group.name |e }}</td>
                    <td>{{ group.roles | join(',<br> ')|raw }}</td>
                    <td>
                        <div class="btn-group">
                            {#
                            {% if is_granted('VIEW', group) %}
                            <a class="btn btn-default" href="{{ path('zym_user_groups_show', { 'id': group.id }) }}">
                                <span class="glyphicon glyphicon-share"></span>
                                {{ 'View' | trans({}, 'ZymUserBundle') }}
                            </a>
                            {% endif %}
                            #}

                            {% if is_granted('EDIT', group) %}
                            <a class="btn btn-default" href="{{ path('zym_user_groups_edit', { 'id': group.id }) }}">
                                <span class="glyphicon glyphicon-edit"></span>
                                {{ 'Edit' | trans({}, 'ZymUserBundle') }}
                            </a>
                            {% endif %}

                            {% if is_granted('DELETE', group) %}
                            <a class="btn btn-default" href="{{ path('zym_user_groups_delete', { "id": group.id }) }}" data-toggle="ajax-modal">
                                <span class="glyphicon glyphicon-remove"></span>
                                {{ 'Delete' | trans({}, 'ZymUserBundle') }}
                            </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if groups | length <= 0 %}
        <p>
            {{ 'No groups added yet.' | trans({}, 'ZymUserBundle') }}

            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\UserBundle\\Entity\\Group']) %}
            <a class="" href="{{ path('zym_user_groups_add') }}">{{ 'Create a group.' | trans({}, 'ZymGroupBundle') }}</a>
            {% endif %}
        </p>
    {% endif %}


    {{ knp_pagination_render(groups) }}
{% endblock %}