<div class="modal-dialog animated fadeIn" data-ng-cloak>
    <div class="modal-content">
        <div class="modal" style="position: static; margin: 0 auto; display: block; overflow-y: auto;">
            <div class="modal-header">
                <h1 class="modal-title">
                    {{ 'Recover Account' | trans({}, 'FOSUserBundle') }}
                    <small>{{ 'Check your email.' | trans({}, 'ZymUserBundle') }}</small>
                </h1>
            </div>

            <div class="modal-body">
                <div class="media">
                    <span class="glyphicon glyphicon-info-sign text-info media-object pull-left" style="font-size: 300%;"></span>

                    <div class="media-body">
                        <p>{{ 'resetting.check_email' |trans({ '%email%': email }, 'FOSUserBundle') }}</p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">
                    {{ 'Proceed to login' | trans({}, 'ZymUserBundle') }}
                </a>
            </div>
        </div>
    </div>
</div>