{% extends "::anonymous.html.twig" %}

{% block title %}{{ 'Recover Account' | trans({}, 'FOSUserBundle') }}{% endblock %}

{% block content %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal" style="position: static; margin: 0 auto; display: block;">
                    <div class="modal-header">
                        <h1 class="modal-title">
                            {{ 'Recover Account' | trans({}, 'FOSUserBundle') }}
                            <small>{{ 'Forgot your login?' | trans({}, 'ZymUserBundle') }}</small>
                        </h1>
                    </div>

                    <div class="modal-body">
                        {% if invalid_username is defined  %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label class="control-label" for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>

                            <div class="controls">
                                <input class="form-control" type="text" id="username" name="username" required="required" {% if invalid_username is defined %}value="{{ invalid_username |e }}"{% endif %} />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">
                            {{ 'Cancel' | trans({}, 'ZymUserBundle') }}
                        </a>

                        <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" style="padding-left: 30px; padding-right: 30px" />
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block inlineScripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            var username = $('#username');
            username.focus();
        });
    </script>
{% endblock %}