{% extends "ZymUserBundle::layout.html.twig" %}

{% block title %}{{ 'Change Password' | trans({}, 'FOSUserBundle') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    {{ 'Change Password' | trans({}, 'FOSUserBundle') }}
                    <small>{{ 'Manage your password' | trans({}, 'ZymUserBundle') }}</small>
                </h1>
            </div>
        </div>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-default" href="javascript: history.back()">
                <span class="glyphicon glyphicon-arrow-left"></span> {{ 'Back' | trans({}, 'ZymUserBundle') }}
            </a>
        </div>
    </div>

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_widget(form) }}

        <fieldset class="form-actions">
            <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </fieldset>
    </form>
{% endblock %}

{% block inlineScripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            var currentPassword = $('#fos_user_change_password_form_current_password');

            if (!currentPassword.val().length) {
                currentPassword.focus();
            } else {
                $('#fos_user_change_password_form_plainPassword_first').focus();
            }
        });
    </script>
{% endblock %}